<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heng.property_manager.mapper.BillTypeMapper">
    <select id="searchBillType" resultType="com.heng.property_manager.pojo.vo.BillTypeVo">
        select b.*,e.name creator from bill_type b left join employee e on b.create_by = e.id
        where b.is_deleted = 0
        <if test="name!=null and name!=''">
            and b.name like concat('%',#{name},'%')
        </if>
        order by b.id desc
    </select>
</mapper>